$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Bellefair');

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

h1 {
  text-align: center;
  font-family: 'Bellefair', serif;
  // position: static;
}

h4 {
  text-align: center;
  font-family: 'Bellefair', serif;
}

.me {
   position: absolute;
   top: 30px;
   right: 30px;
   height: auto;
   width: auto;
   max-width: 200px;
   max-height: 200px;
}

.top {
  position: absolute;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 25px;
}

.main {
  position: absolute;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
}

.bottom {
  position: absolute;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 230px;
}

// .resume {
//   position: absolute;
//   padding-left: 250px;
//   padding-right: 250px;
//   padding-top: 175px;
//   text-align: center;
// }

.logo1 {
  height: auto;
  width: auto;
  top: 30px;
  left: 20px;
  max-width: 180px;
  max-height: 40px;
  position: absolute;
  display: inline;
}

.logo2 {
  height: auto;
  width: auto;
  top: 30px;
  left: 140px;
  max-width: 60px;
  max-height: 40px;
  position: absolute;
  display: inline;
}

.logo3 {
  height: auto;
  width: auto;
  top: 30px;
  left: 190px;
  max-width: 60px;
  max-height: 40px;
  position: absolute;
  display: inline;
}

// footer {
//   height: auto;
//   width: auto;
//   max-width: 60px;
//   max-height: 60px;
//   display: inline;
//   float: left;
// }

.svg-container {
    width: 50px;
    display: inline-block;
    // position: fixed;
    // bottom: 0px;
    // display: table-cell;
    // vertical-align: bottom;
      // position: absolute;
      // right: 0;
      // bottom: 0;
      // left: 0;
      // padding: 1rem;
}

.container {
  position: fixed;
  bottom: 0;
  text-align: center;
}

// .footer {
//   height: auto;
//   width: auto;
//   max-width: 60px;
//   max-height: 60px;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   padding: 1rem;
//   text-align: center;
//   display: inline;
// }
